body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 70px;
  text-align: center;
}

.App, .overlay {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  height:100%;
  width:100%;
}

.overlay {
  z-index: 1;
  background: violet;
}
.overlay > img {
  height: 100%; width: 100%; object-fit: contain;
}

.hidden {
  display: none;
}

.ok {
  color: black;
}
.wrong {
  color: red;
}

#imageDiv {
  height: 300px;
  width: 600px;
  margin: auto;
}

#imageDiv > img {
  max-width: 100%;
  max-height: 100%;
}

#patternAndInput {
  display:inline-block;
}

#input {
  float:left;
}